<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhangweijie.mapper.CreateDateMapper">

    <select id="queryAll" resultType="CreateDate">
        select `id`, `date` from `create_date_table`
    </select>

    <select id="query" resultType="CreateDate">
        select `id`, `date` from `create_date_table`
        <where>
            `id` = #{id}
        </where>
    </select>

    <insert id="add" parameterType="CreateDate">
        <if test="date != null">
            insert into `create_date_table`(`date`) values (#{date})
        </if>
    </insert>

    <delete id="delete" parameterType="Long">
        delete from `create_date_table`
        <where>
            `id` = #{id}
        </where>
    </delete>

    <update id="update" parameterType="CreateDate">
        update `create_date_table`
        <set>
            <if test="date != null">`date` = #{date}</if>
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

</mapper>
