<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhangweijie.mapper.CreateCountryMapper">
    <select id="queryAll" resultType="CreateCountry">
        select `id`, `name` from `create_country_table`
    </select>

    <select id="query" resultType="CreateCountry">
        select `id`, `name` from `create_country_table`
        <where>
            `id` = #{id}
        </where>
    </select>

    <insert id="add" parameterType="CreateCountry">
        <if test="name != null">
            insert into `create_country_table`(`name`) values (#{name})
        </if>
    </insert>

    <delete id="delete" parameterType="Long">
        delete from `create_country_table`
        <where>
            `id` = #{id}
        </where>
    </delete>

    <update id="update" parameterType="CreateCountry">
        update `create_country_table`
        <set>
            <if test="name != null">`name` = #{name}</if>
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

</mapper>
