<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhangweijie.mapper.FigureMapper">

    <select id="queryAll" resultType="Figure">
        select `id`, `name` from `figure_table`
    </select>

    <select id="query" resultType="Figure">
        select `id`, `name` from `figure_table`
        <where>
            `id` = #{id}
        </where>
    </select>

    <insert id="add" parameterType="Figure">
        <if test="name != null">
            insert into `figure_table`(`name`) values (#{name})
        </if>
    </insert>

    <delete id="delete" parameterType="Long">
        delete from `figure_table`
        <where>
            `id` = #{id}
        </where>
    </delete>

    <update id="update" parameterType="Figure">
        update `figure_table`
        <set>
            <if test="name != null">`name` = #{name}</if>
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

</mapper>
