<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhangweijie.mapper.PhotoMapper">
    <select id="queryAllInfo" resultType="Photo">
        select
        `id`,`credit_to_id`,`update_time`,`create_date_id`,`create_country_id`,`create_city_id`,`theme_id`,`figure_id`,`desc`
        from `photo_table`
    </select>

    <select id="queryMultiInfo" resultType="Photo">
        select
        `id`,`credit_to_id`,`update_time`,`create_date_id`,`create_country_id`,`create_city_id`,`theme_id`,`figure_id`,`desc`
        from `photo_table`
        <where>
            1
            <if test="creditToId != null">and `credit_to_id` = #{creditToId}</if>
            <if test="createDateId != null">and `create_date_id` = #{createDateId}</if>
            <if test="createCityId != null">and `create_city_id` = #{createCityId}</if>
            <if test="themeId != null">and `theme_id` = #{themeId}</if>
            <if test="figureId != null">and `figure_id` = #{figureId}</if>
        </where>
    </select>

    <select id="queryData" parameterType="Long" resultType="Photo">
        select * from `photo_table`
        <where>
            `id` = #{id}
        </where>
    </select>

    <insert id="add" parameterType="Photo">
        insert into `photo_table`
        (`credit_to_id`,`update_time`,`create_date_id`,`create_country_id`,`create_city_id`,`theme_id`,`figure_id`,`desc`,`data`)
        values
        (#{creditToId},#{updateTime},#{createDateId},#{createCountryId},#{createCityId},#{themeId},#{figureId},#{desc},#{data});
    </insert>

    <delete id="delete" parameterType="Long">
        delete from `photo_table`
        <where>
            `id` = #{id}
        </where>
    </delete>

    <update id="update" parameterType="Photo">
        update `photo_table`
        <set>
            <if test="creditToId != null">`credit_to_id` = #{creditToId},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="createDateId != null">`create_date_id` = #{createDateId},</if>
            <if test="createCountryId != null">`create_country_id` = #{createCountryId},</if>
            <if test="createCityId != null">`create_city_id` = #{createCityId},</if>
            <if test="themeId != null">`theme_id` = #{themeId},</if>
            <if test="figureId != null">`figure_id` = #{figureId},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="data.length > 0">`data` = #{data}</if>
        </set>
        <where>
            <choose>
                <when test="id != null">`id` = #{id}</when>
                <otherwise>0</otherwise>
            </choose>
        </where>
    </update>
</mapper>
